
  @if (recipes) {
  <div class="card">
      <img [src]="recipes?.imagePath" class="card-img-top" >

    <div class="card-body">
      <h5 class="card-title">{{ recipes?.neam }}</h5>
      <p class="card-text">{{ recipes?.description }}</p>
       <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let ingredient of recipes?.Ingredient">
        {{ ingredient.name }} - {{ingredient.amount}}
      </li>
    </ul>
    <button [disabled]="botondesibl" class="btn btn-primary">Add to Cart</button>

    </div>
  </div>
}


